@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1743698072075') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copy_code:before {
  content: "\e800";
}

.icon-fuzhichenggong:before {
  content: "\e613";
}

