@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-border-radius-md: 6px;
  --app-border-radius-lg: 12px;
  --el-popper-border-radius: var(--app-border-radius-lg);
  --el-border-radius-base: var(--app-border-radius-md);
  --el-messagebox-border-radius: var(--app-border-radius-lg);
}

.el-dialog {
  border-radius: var(--app-border-radius-lg);
  .el-dialog__title {
    color: #333333;
    font-weight: 500;
  }
}
.el-message-box {
  border-radius: var(--app-border-radius-lg);
  .el-message-box__title {
    color: #333333;
    font-weight: 500;
  }
}
